<body>
<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner height-100" role="listbox">
        <div class="item height-100 holderjs active" data-background-src="?holder.js/1500x666?theme=industrial&text=\n">
            <div class="carousel-caption">
                <h1>一款基于Angular的MVC框架，简单，易扩展！</h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="padding-30">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="goto('tab.index')">开始体验</button>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="item height-100 holderjs" data-background-src="?holder.js/1500x666?theme=social&text=\n">
            <div class="carousel-caption">
                <h1>让前端单页面应用开发更简单。</h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="padding-30">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="goto('tab.index')">开始体验</button>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="item height-100 holderjs" data-background-src="?holder.js/1500x666?theme=sky&text=\n">
            <div class="carousel-caption">
                <h1>兼容PC端，Mobile移动端，也能很好支持混合式应用开发。</h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="padding-30">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="goto('tab.index')">开始体验</button>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" data-target="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">&lt;&lt;</span>
    </a>
    <a class="right carousel-control" data-target="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">&gt;&gt;</span>
    </a>
</div>
<script type="text/javascript">
$(function() {
    $('body').addClass('no-margin');
    // 设置 carousel 高度
    var $carousel = $('#carousel');
    $carousel.height($(window).height());
    $(window).resize(function() {
        $carousel.height($(this).height());
    });
});
</script>
</body>